@import "themes/current.css";

* {
    all: unset;
}

* {
    background-color: var(--base);
    color: var(--text);
    border-style: none;
}

#workspaces>button {
    border-color: var(--muted);
    border-style: solid;
    border-width: 2px;
    border-radius: 20%;
    padding-left: 5pt;
    padding-right: 5pt;
}

#workspaces>button.active {
    color: var(--love);
    border-color: var(--love);
}

#workspaces>button.urgent {
    border-color: var(--gold);
    color: var(--gold);
}